version: "3.9"

services:
  app:
    build: .
    container_name: java-app
    depends_on:
      - db
    environment:
      DB_URL: jdbc:mysql://db:3306/mydb
      DB_USER: root
      DB_PASSWORD: root
    ports:
      - "8081:80"

  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
    ports:
      - "3309:3306"
